<div class="container">
  <div class="mt-1 mb-5 my-md-5">
    <div class="container">
      <div class="page-header justify-content-end">
      </div>
      <div class="page-header">
        <h1 class="page-title">
          App Source
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-muted mb-4">Database Name</div>
    <input class="form-control mr-sm-2 w-50" type="text" placeholder="Enter Database Name">
    <div class="text-muted mb-4 mt-4">Choose your database
    </div>
    <div class="row">
      <div class="col-3 btn-outline-secondary" *ngFor="let path of paths">
        <div class="card">
          <div class="card-body p-3 text-center" style="cursor: pointer;" (click)="toCreateDb(path.path)">
            <div class="h1 m-0 py-3 px-2">
              <img src="{{path.icon}}" alt="indev" width="150" height="150">
            </div>
            <div class="text-muted mb-4">{{path.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="my-3 my-md-5">
    <div class="container">
      <div class="page-header float-right">
        <a class="btn d-inline-flex btn-sm btn-secondary mx-1">
          <span class=" pe-2">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
        </a>
      </div>
    </div>
  </div> -->
</div>
