.containers {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.containers .box {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: #a5a7aa;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.025);
}
.containers .box::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: var(--clr);
}
.containers .box:hover::before {
  width: 100%;
}
.containers .box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.containers .box .content .icon {
  position: relative;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers .box .content .icon ion-icon {
  font-size: 2.5em;
  color: var(--clr);
  transition: 0.5s ease-in-out;
}
.containers .box:hover .content .icon ion-icon {
  color: #fff;
}
.containers .box .content .text h5 {
  font-weight: 500;
  color: var(--clr);
}
.containers .box .content .text p {
  font-size: 0.9em;
  color: #999;
  transition: 0.5s ease-in-out;
}
.containers .box:hover .content .text h5,
.containers .box:hover .content .text p {
  color: #fff;
}
